body, html {
  height: 100%;
  width: 100%;
  margin: 0;
/*  overflow-x: hidden;*/
  overflow-y: visible;
  font-family: Roboto;
  font-weight: 400;
}

body {
  background-color: #034638;
}

/* Start of navbar styles */

#mainNavbar {
  font-size: 1.25rem;
  font-weight: 300;
  background-color: #034638;
  transition: background .4s ease;
}

#IveyFintechMainLogo {
  height: 40px;
  margin-top: 0.2rem;
  transition: all 1s ease;
  filter: none;
  -webkit-filter: none;
}

.nav-link {
  transition: all 1s ease;
}

.dropdown-item-text-color {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  transition: all 1s ease;
}

.dropdown-item-text-color:focus,
.dropdown-item-text-color:hover {
  text-decoration: underline;
  background-color: transparent;
  color: #fff;
}

.dropdown-menu {
  -webkit-transition: background 1s ease, max-height 0.5s, opacity 0.2s 0.1s,
    visibility 0s 0.3s;
  -moz-transition: background 1s ease, max-height 0.5s, opacity 0.2s 0.1s,
    visibility 0s 0.3s;
  -ms-transition: background 1s ease, max-height 0.5s, opacity 0.2s 0.1s,
    visibility 0s 0.3s;
  -o-transition: background 1s ease, max-height 0.5s, opacity 0.2s 0.1s,
    visibility 0s 0.3s;
  transition: background 1s ease, max-height 0.5s, opacity 0.2s 0.1s,
    visibility 0s 0.3s;

  border-color: transparent;
  border-bottom-left-radius: 4px;

  /* transition: background 1s ease;
  -webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -ms-transition: background 1s ease;
  -o-transition: background 1s ease; */

  padding: 0;
  margin: 0;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  background-color: #034638;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown.show .dropdown-menu {
  -webkit-transition: background 1s ease, max-height 0.5s, opacity 0.2s,
    visibility 0s;
  -moz-transition: background 1s ease, max-height 0.5s, opacity 0.2s,
    visibility 0s;
  -ms-transition: background 1s ease, max-height 0.5s, opacity 0.2s,
    visibility 0s;
  -o-transition: background 1s ease, max-height 0.5s, opacity 0.2s,
    visibility 0s;
  transition: background 1s ease, max-height 0.5s, opacity 0.2s, visibility 0s;

  /* transition: background 1s ease;
  -webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -ms-transition: background 1s ease;
  -o-transition: background 1s ease; */

  max-height: 190px;
  opacity: 1;
  visibility: visible;
}

/* End of nav-bar styling */

#contact-form {
  color: #FFF;
  background-color: #034638;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.button-fullscreen {
  height: 100vh;
  width: 100%;
}

#email-btn {
  position: relative;
}

/* If fade out option is set */
.typed-fade-out {
  color: #fff;
  font-size: 2.5rem;
}

@media (max-width: 992px) {
  span#dev-note {
    padding-left: 70%;
  }
}

@media (max-width: 772px) {
  #mainHeading {
    position: relative;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  span#dev-note {
    padding-left: 70%;
  }
  
  .typed-cursor {
    color: #fff;
    font-weight: 500;
    font-size: 1.4rem;
  }
  
  /* If fade out option is set */
  .typed-fade-out {
    color: #fff;
    font-size: 1.4rem;
  }
}

@media (max-width: 400px) {
  span#dev-note {
    padding-left: 60%;
  }
}
